@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:wght@300;400;500;700&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  z-index: 1000;
  padding: 20px 88px;
  color: #42356b;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  width: 100%;
  background: linear-gradient(90deg, #d8e6f2 0%, #b5e3be 100%);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 8px 24px 0px rgba(66, 53, 107, 0.0784313725);
}
@media screen and (max-width: 1132px) {
  nav {
    padding: 20px 28px;
  }
}
@media screen and (max-width: 1098px) {
  nav {
    padding: 20px 22px;
    font-size: 18px;
  }
}
@media screen and (max-width: 958px) {
  nav {
    padding: 12px 16px;
    font-size: 18px;
  }
}
@media screen and (max-width: 936px) {
  nav {
    justify-content: space-between;
    font-size: 20px;
    padding: 20px 22px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    padding: 12px 16px;
    position: relative;
  }
}

.logo img {
  width: 114.69px;
  height: 88px;
}

.nav-links {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  height: 48px;
  width: 615px;
  margin-left: -200px;
}
@media screen and (max-width: 1572px) {
  .nav-links {
    margin-left: -100px;
  }
}
@media screen and (max-width: 1420px) {
  .nav-links {
    margin-left: 0;
    margin-right: auto;
  }
}
@media screen and (max-width: 936px) {
  .nav-links {
    font-size: 18px;
  }
}
.nav-links li {
  padding: 8px 0px;
}
.nav-links li a {
  text-wrap: nowrap;
}
.nav-links li:hover {
  color: #ffffff;
}
@media screen and (max-width: 1498px) {
  .nav-links li:not(:first-of-type) {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1190px) {
  .nav-links li:not(:first-of-type) {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1424px) {
  .nav-links {
    margin-left: 82.31px;
  }
}
@media screen and (max-width: 1498px) {
  .nav-links {
    width: auto;
  }
}
@media screen and (max-width: 1098px) {
  .nav-links {
    margin-left: 41.155px;
  }
}
@media screen and (max-width: 936px) {
  .nav-links {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

@media screen and (max-width: 936px) {
  #signInPage header nav .nav-links {
    margin-right: auto;
  }
}

.nav-sign-in {
  display: flex;
  margin-top: 24px;
  height: 40px;
  align-items: center;
}
.nav-sign-in:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nav-sign-in {
    display: none;
  }
}
@media screen and (max-width: 1420px) {
  .nav-sign-in {
    margin-right: 100px;
  }
  .nav-sign-in .sign-in,
  .nav-sign-in .mk-al {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1132px) {
  .nav-sign-in {
    margin-right: auto;
  }
}
@media screen and (max-width: 1296px) {
  .nav-sign-in .sign-in,
  .nav-sign-in .mk-al {
    margin-right: 20px;
  }
}
@media screen and (max-width: 936px) {
  .nav-sign-in {
    margin-left: auto;
    margin-right: 100px;
  }
}

@media screen and (max-width: 936px) {
  #signInPage header nav .nav-sign-in {
    margin-right: auto;
  }
}

@media screen and (max-width: 936px) {
  #signInPage header nav {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  #signInPage header nav {
    padding: 12px 16px;
  }
}

.sign-in,
.sign-in-2 {
  text-wrap: nowrap;
  display: flex;
  width: 149px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border: 1.6px solid #42356b;
  border-radius: 10px;
  margin-right: 40px;
}
.sign-in img,
.sign-in-2 img {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}
.sign-in button,
.sign-in-2 button {
  background: transparent;
  border: none;
  width: 91px;
  height: 32px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.sign-in:hover,
.sign-in-2:hover {
  border: 2px solid #ffffff;
}
@media screen and (max-width: 1098px) {
  .sign-in,
  .sign-in-2 {
    width: auto;
  }
}

.sign-in {
  position: relative;
}
@media screen and (max-width: 768px) {
  .sign-in {
    display: none;
  }
}

.mk-al {
  margin-right: 40px;
  text-wrap: nowrap;
}
.mk-al span:hover {
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 1098px) {
  .mk-al {
    width: auto;
  }
}
@media screen and (max-width: 936px) {
  .mk-al {
    display: none;
  }
}

.search-icon {
  cursor: pointer;
}
@media screen and (max-width: 936px) {
  .search-icon {
    display: none;
  }
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  width: 24px;
  height: 18px;
}
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: flex;
    align-self: center;
  }
}

.hamburger-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  color: #42356b;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  background-color: rgb(131, 234, 177);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}

.nav-links-2,
.nav-sign-in-2 {
  display: flex;
  flex-direction: column;
}

.nav-links-2 {
  width: 100%;
  align-items: center;
}
.nav-links-2 li:hover {
  color: #ffffff;
}
.nav-links-2 li:not(:last-of-type) {
  margin-bottom: 30px;
}

.nav-sign-in-2 {
  margin-top: 30px;
}

.sign-in-2 {
  position: relative;
  cursor: pointer;
  display: flex;
  width: auto;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
}
.sign-in-2 button {
  font-weight: 700;
  width: auto;
  padding: 0;
  font-size: 30px;
}

.mk-al-2 {
  display: flex;
  margin-right: 0;
  margin: 0 auto;
  margin-top: 30px;
}
.mk-al-2 span:hover {
  color: #ffffff;
  cursor: pointer;
}

.search-icon-2 {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.nav-profile-pic {
  background: url("../images/Discussion board page/person 1.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border: 1.6px solid rgb(66, 53, 107);
  border-radius: 50%;
  padding: 0;
}
.nav-profile-pic:hover {
  border: 2px solid #ffffff;
}

.nav-dropdown {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: none !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  border-radius: 8px;
  padding: 4px 8px;
  position: absolute;
  top: 140%;
  left: -64%;
}
.nav-dropdown:hover {
  color: rgba(255, 255, 255, 0.5);
  background: #42356b;
}

.sign-in-2 .nav-dropdown {
  top: 6%;
  left: 130%;
}

footer,
.phone-and-email,
.phone,
.email,
.safeblink-icons,
.safeblink-icons .icons {
  display: flex;
}

footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: linear-gradient(to bottom, rgba(66, 53, 107, 0.8), rgba(153, 70, 243, 0.16));
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  padding: 64px 200px 77.97px 200px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1694px) {
  footer {
    padding: 64px 140px 77.97px 140px;
  }
}
@media screen and (max-width: 1420px) {
  footer {
    padding: 64px 110px 77.97px 110px;
  }
}
@media screen and (max-width: 1320px) {
  footer {
    padding: 64px 100px 77.97px 100px;
  }
}
@media screen and (max-width: 1180px) {
  footer {
    padding: 64px 80px 77.97px 80px;
  }
}
@media screen and (max-width: 1080px) {
  footer {
    padding: 64px 0 77.97px 0;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 0;
    padding: 40px 16px;
  }
}

@media screen and (max-width: 1080px) {
  .safeblink-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 76px 0 76px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .safeblink-description {
    padding: 0;
  }
}
@media screen and (max-width: 668px) {
  .safeblink-description {
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;
  }
}

@media screen and (max-width: 668px) {
  .safeblink-logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.safeblink-international,
.phone-and-email {
  margin-top: 32px;
}
@media screen and (max-width: 1080px) {
  .safeblink-international,
  .phone-and-email {
    margin-top: 0;
  }
}

@media screen and (max-width: 900px) {
  .safeblink-international {
    width: 30%;
  }
}
@media screen and (max-width: 668px) {
  .safeblink-international {
    padding-top: 32px;
    width: 100%;
  }
}

.phone-and-email {
  justify-content: space-between;
}
@media screen and (max-width: 1080px) {
  .phone-and-email {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 668px) {
  .phone-and-email {
    padding-top: 32px;
    gap: 0;
  }
}

.phone img {
  width: 19.97px;
  height: 19.97px;
  margin: 2.17px 0 0 1.86px;
}
@media screen and (max-width: 668px) {
  .phone {
    margin-bottom: 16px;
  }
}

.email img {
  width: 24px;
  height: 24px;
}

.phone p,
.email p {
  margin-left: 16px;
}

@media screen and (max-width: 1320px) {
  .safeblink-info {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .safeblink-info {
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 80px 0 80px;
    margin-top: 64px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .safeblink-info {
    padding: 0;
  }
}
@media screen and (max-width: 668px) {
  .safeblink-info {
    justify-content: flex-start;
    display: block;
    padding: 0;
    margin-top: 0;
    height: auto;
    width: 100%;
    padding-top: 48px;
  }
}

.safeblink-info li:not(:last-of-type) {
  margin-bottom: 32px;
}
@media screen and (max-width: 1080px) {
  .safeblink-info li {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 668px) {
  .safeblink-info li {
    width: 100%;
    flex-direction: row;
    display: block;
  }
  .safeblink-info li:not(:last-of-type) {
    margin-bottom: 0;
    padding-bottom: 32px;
  }
}

.safeblink-icons {
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 1080px) {
  .safeblink-icons {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px 0 80px;
    margin-top: 64px;
    width: 100%;
    align-items: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .safeblink-icons {
    padding: 0;
  }
}
@media screen and (max-width: 668px) {
  .safeblink-icons {
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    justify-content: flex-start;
  }
}

.mkAl,
.icons {
  margin-bottom: 53px;
}
@media screen and (max-width: 1080px) {
  .mkAl,
  .icons {
    margin-bottom: 0;
  }
}

.mkAl {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 668px) {
  .mkAl {
    display: none;
  }
}

.mkAl-2 {
  display: none;
}
@media screen and (max-width: 668px) {
  .mkAl-2 {
    display: block;
    text-wrap: nowrap;
    font-size: 20px;
    font-weight: 700;
  }
}

.icons a:not(:first-of-type) {
  margin-left: 40px;
}
@media screen and (max-width: 820px) {
  .icons a:not(:first-of-type) {
    margin-left: 20px;
  }
}
@media screen and (max-width: 820px) {
  .icons a:not(:first-of-type) {
    margin-left: 30px;
  }
}
@media screen and (max-width: 668px) {
  .icons {
    margin: 0 auto;
    padding: 48px 32px;
  }
  .icons a:not(:first-of-type) {
    margin-left: 48px;
  }
}

.safeblink-text span,
.safeblink-text a {
  height: 24px;
}
.safeblink-text span {
  margin-right: 8px;
}
.safeblink-text a {
  margin-left: 8px;
}

.sign-in-page {
  font-weight: 500;
  font-size: 18.97px;
  line-height: 25.29px;
  color: #152347;
  color: #ffffff;
  padding-bottom: 100px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .sign-in-page {
    position: static;
  }
}

.sign-in-title {
  max-width: 747px;
  max-height: 88px;
}

.sign-in-image-2 {
  display: none;
}
@media screen and (max-width: 1080px) {
  .sign-in-image-2 {
    margin: 0 auto;
    display: flex;
    width: 100%;
    margin-top: -9px !important;
    justify-content: center;
    align-items: center;
    padding-top: 125.4px;
  }
}
@media screen and (max-width: 768px) {
  .sign-in-image-2 {
    background-color: #74a2a1;
    box-shadow: -1px 4px 0px 0px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 425px) {
  .sign-in-image-2 {
    background: none;
    box-shadow: none;
  }
}

.img-tablet {
  padding-top: 8px;
}
@media screen and (max-width: 425px) {
  .img-tablet {
    display: none;
  }
}

.img-phone {
  display: none;
}
@media screen and (max-width: 425px) {
  .img-phone {
    display: block;
  }
}

.sign-in-image {
  max-width: 615.66px;
  max-height: 551px;
  position: absolute;
  top: 50%;
  left: calc(15.5% + 976px);
  transform: translate(-50%, -50%);
  width: 100%;
}
@media screen and (max-width: 1694px) {
  .sign-in-image {
    top: 60.5%;
    left: calc(15.5% + 910px);
    width: 90%;
    height: 90%;
  }
}
@media screen and (max-width: 1584px) {
  .sign-in-image {
    width: 75%;
    height: 75%;
    left: calc(15.5% + 866px);
  }
}
@media screen and (max-width: 1530px) {
  .sign-in-image {
    left: calc(15.5% + 816px);
  }
}
@media screen and (max-width: 1480px) {
  .sign-in-image {
    left: calc(16% + 806px);
    width: 65%;
    height: 65%;
  }
}
@media screen and (max-width: 1420px) {
  .sign-in-image {
    left: calc(15.5% + 916px);
  }
}
@media screen and (max-width: 1420px) {
  .sign-in-image {
    left: calc(15.5% + 916px);
  }
}
@media screen and (max-width: 1284px) {
  .sign-in-image {
    left: calc(15.5% + 856px);
  }
}
@media screen and (max-width: 1196px) {
  .sign-in-image {
    left: calc(15.5% + 826px);
  }
}
@media screen and (max-width: 1154px) {
  .sign-in-image {
    left: calc(15.5% + 806px);
    width: 80%;
  }
}
@media screen and (max-width: 1132px) {
  .sign-in-image {
    left: calc(15.5% + 676px);
    width: 30%;
  }
}
@media screen and (max-width: 1080px) {
  .sign-in-image {
    display: none;
  }
}

@media screen and (max-width: 1420px) {
  .img-1 {
    display: none;
  }
}

.img-2 {
  display: none;
}
@media screen and (max-width: 1420px) {
  .img-2 {
    display: block;
    border-radius: 8px;
    border: 2px solid #ffffff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 768px) {
  .sign-in-title {
    font-size: 68px;
  }
}
@media screen and (max-width: 680px) {
  .sign-in-title {
    font-size: 58px;
  }
}
@media screen and (max-width: 580px) {
  .sign-in-title {
    font-size: 48px;
  }
}
@media screen and (max-width: 480px) {
  .sign-in-title {
    font-size: 42px;
  }
}
@media screen and (max-width: 1080px) {
  .sign-in-title {
    margin: 0 auto;
  }
}

.sign-in-container {
  margin: 200px 0 0 -0.21px;
  position: relative;
  width: 485.21px;
}
@media screen and (max-width: 1080px) {
  .sign-in-container {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 20px;
  }
}
@media screen and (max-width: 768px) {
  .sign-in-container {
    margin: 0;
    margin: 125px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
}
@media screen and (max-width: 480px) {
  .sign-in-container {
    margin: 100px 0;
  }
}
@media screen and (max-width: 425px) {
  .sign-in-container {
    margin: 50px 0;
  }
}
.sign-in-container button {
  border: 1.58px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 29.17%);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 6.32px 12.64px 0px rgba(66, 53, 107, 0.1);
  padding: 8px 0;
  border-radius: 6.32px;
  width: 291px;
  color: rgb(66, 53, 107);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
}
@media screen and (max-width: 425px) {
  .sign-in-container button {
    margin-bottom: 200px;
  }
}

.sign-in-link {
  background: #ffffff;
  border: 1.58px solid rgb(142, 56, 235);
  border-radius: 3.95px;
  height: 56.9px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 32px;
  color: rgb(21, 35, 71);
}
.sign-in-link a {
  display: flex;
  margin-left: 25.29px;
}
.sign-in-link span {
  width: 209px;
  height: 26px;
}
.sign-in-link img {
  width: 25.29px;
  height: 25.29px;
  margin-right: 25.29px;
}

.apple-icon {
  width: 23.61px;
  height: 27.78px;
  margin-left: 2.08px;
}

.tiktok-icon {
  width: 22.57px;
  height: 26.04px;
  margin: 0.87px 0 0 2.6px;
}

.sign-in-lines {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 485px;
}
@media screen and (max-width: 768px) {
  .sign-in-lines {
    width: 100%;
  }
}
.sign-in-lines p {
  font-weight: 700;
  height: 24px;
  width: 31.93px;
  text-wrap: nowrap;
  margin-bottom: 3px;
}
@media screen and (max-width: 768px) {
  .sign-in-lines p {
    letter-spacing: -5%;
  }
}

.line {
  width: 201.1px;
  height: 0.79px;
  background: #6b58f1;
  border: 1px solid #6b58f1;
}
@media screen and (max-width: 768px) {
  .line {
    margin-left: 24px;
  }
}
@media screen and (max-width: 560px) {
  .line {
    margin-left: 0;
    width: 130px;
  }
}
.line:nth-of-type(2) {
  width: 200.31px;
}
@media screen and (max-width: 768px) {
  .line:nth-of-type(2) {
    margin-left: 0;
    margin-right: 24px;
  }
}
@media screen and (max-width: 560px) {
  .line:nth-of-type(2) {
    margin-right: 0;
    width: 130.83px;
  }
}

.manual-log-in {
  width: 100%;
}
.manual-log-in input {
  width: 100%;
  margin-bottom: 25px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 15.8px;
  line-height: 25.29px;
}

.password-input-container {
  position: relative;
}
.password-input-container img {
  position: absolute;
  left: calc(100% - 24px);
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  width: 482px;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 25px;
  width: 100%;
}

.check-box input {
  margin-right: 12.64px;
  width: 14.22px;
  height: 14.22px;
  background: rgb(255, 255, 255);
}

.sign-in-pop-up {
  line-height: 88px;
  background: linear-gradient(180deg, rgba(153, 70, 243, 0.8) 0%, rgba(66, 53, 107, 0.8) 100%);
  border-radius: 32px;
  position: absolute;
  top: 75%;
  left: 49%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
  padding: 104px 240px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-wrap: nowrap;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1080px) {
  .sign-in-pop-up {
    top: 49.4%;
    left: 50%;
    width: 100%;
    border-radius: 0;
    height: 100vh;
  }
}
@media screen and (max-width: 526px) {
  .sign-in-pop-up {
    font-size: 40px !important;
  }
}

.sign-in-pop-up-title {
  font-weight: 900;
  font-size: 64px;
  margin-bottom: 40px;
}
@media screen and (max-width: 526px) {
  .sign-in-pop-up-title {
    font-size: 44px !important;
  }
}

.sign-in-pop-up-text {
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 80px;
}
@media screen and (max-width: 526px) {
  .sign-in-pop-up-text {
    font-size: 24px !important;
  }
}

.sign-in-pop-up-button {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: rgb(66, 53, 107);
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 29.17%);
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
  border-radius: 8px;
  padding: 8px 34px;
  width: auto;
}
.sign-in-pop-up-button:hover {
  background-color: #74a2a1;
  color: #ffffff;
}
@media screen and (max-width: 526px) {
  .sign-in-pop-up-button {
    font-size: 20px !important;
  }
}

.asterix {
  font-weight: 500;
  font-size: 22.13px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.landing-video {
  width: 100%;
  overflow: hidden;
  padding-top: 133.3px;
  position: relative;
}
.landing-video video {
  width: 100%;
}
@media screen and (max-width: 958px) {
  .landing-video {
    padding-top: 117px;
  }
}
@media screen and (max-width: 936px) {
  .landing-video {
    padding-top: 133.4px;
  }
}
@media screen and (max-width: 768px) {
  .landing-video {
    padding-top: 0;
  }
}

#playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#playButton img {
  margin: 0 auto;
}
@media screen and (max-width: 1080px) {
  #playButton img {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  #playButton img {
    width: 82%;
  }
}
@media screen and (max-width: 768px) {
  #playButton img {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  #playButton img {
    width: 65%;
  }
}

.landing-page .landing-title {
  padding-top: 150px;
}
.landing-page .landing-title h1 {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .landing-page .landing-title {
    padding-top: 100px;
  }
}
@media screen and (max-width: 425px) {
  .landing-page .landing-title {
    padding-top: 50px;
  }
}

.landing-cards {
  display: flex;
  padding-top: 150px;
}
@media screen and (max-width: 1080px) {
  .landing-cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .landing-cards {
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 16px;
  }
}
@media screen and (max-width: 425px) {
  .landing-cards {
    padding-top: 50px;
    padding-bottom: 0;
    margin: 0 16px;
  }
}

.landing-card {
  font-weight: 700;
  line-height: 32px;
  color: #152347;
  background: rgba(153, 70, 243, 0.4);
  border-radius: 16px;
  padding: 40px;
  width: 33.3333333%;
}
.landing-card:nth-of-type(2) {
  background: rgba(75, 124, 243, 0.4);
  margin-left: 32px;
}
.landing-card:last-of-type {
  background: rgba(131, 234, 177, 0.4);
  margin-left: 32px;
}
@media screen and (max-width: 1507px) {
  .landing-card {
    padding: 24px;
  }
  .landing-card:nth-of-type(2), .landing-card:last-of-type {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .landing-card {
    width: 100%;
  }
  .landing-card:nth-of-type(2), .landing-card:last-of-type {
    margin-left: 0;
    margin-top: 24px;
  }
}
@media screen and (max-width: 768px) {
  .landing-card:nth-of-type(2), .landing-card:last-of-type {
    margin-top: 16px;
  }
}

.landing-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing-card-title h3 {
  width: 81%;
  font-size: 32px;
  line-height: 48px;
}
@media screen and (max-width: 1756px) {
  .landing-card-title h3 {
    font-size: 28px;
    line-height: 44px;
  }
}
@media screen and (max-width: 1507px) {
  .landing-card-title h3 {
    font-size: 25px;
    line-height: 41px;
  }
}
@media screen and (max-width: 1182px) {
  .landing-card-title h3 {
    font-size: 22px;
    line-height: 38px;
  }
}
@media screen and (max-width: 1080px) {
  .landing-card-title h3 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (max-width: 1507px) {
  .landing-card-title img {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 1080px) {
  .landing-card-title img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 445px) {
  .landing-card-title img {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 1507px) {
  .first-card-img {
    height: 60px !important;
  }
}
@media screen and (max-width: 1080px) {
  .first-card-img {
    height: 70px !important;
  }
}
@media screen and (max-width: 445px) {
  .first-card-img {
    height: 60px !important;
  }
}

.landing-card-text,
.landing-card-button {
  margin-top: 32px;
}
@media screen and (max-width: 1507px) {
  .landing-card-text,
  .landing-card-button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .landing-card-text,
  .landing-card-button {
    margin-top: 24px;
  }
}

.landing-card-text {
  font-size: 16px;
  font-weight: 300;
  width: 100%;
}

.landing-card-button {
  font-size: 22px;
  color: #42356b;
  text-align: center;
  border: 2px solid;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 29.17%);
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1019607843);
  width: 100%;
  padding: 8px 0;
}
@media screen and (max-width: 1182px) {
  .landing-card-button {
    font-size: 18px;
  }
}
.landing-card-button:hover {
  color: rgba(255, 255, 255, 0.9647058824);
  background: #152347;
}

.content-page {
  color: rgb(66, 53, 107);
}
@media screen and (max-width: 768px) {
  .content-page {
    padding: 0 15px 65px 15px !important;
  }
}

@media screen and (max-width: 1246px) {
  .content-title {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1246px) {
  .content-title h1 {
    text-align: center;
  }
}
@media screen and (max-width: 1080px) {
  .content-title h1 {
    padding-top: 150px;
  }
}
@media screen and (max-width: 768px) {
  .content-title h1 {
    padding-top: 0;
  }
}

.content-mini-titles {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 65%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .content-mini-titles {
    display: none;
  }
}
.content-mini-titles h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  opacity: 40%;
}
.content-mini-titles h2:first-of-type {
  opacity: 1;
}
.content-mini-titles h2:nth-of-type(2), .content-mini-titles h2:last-of-type {
  margin-left: 265px;
}
@media screen and (max-width: 1246px) {
  .content-mini-titles h2:nth-of-type(2), .content-mini-titles h2:last-of-type {
    margin-left: 100px;
  }
}

.carousel-container {
  display: none;
}
@media screen and (max-width: 768px) {
  .carousel-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

.carousel-content {
  display: flex;
  justify-content: center;
  width: 300%;
}
.carousel-content h2 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  margin: 0;
  color: rgb(66, 53, 107);
  display: none;
  opacity: 40%;
}
.carousel-content h2:first-of-type {
  opacity: 1;
}

.carousel-content h2.active {
  display: block;
}

.carousel-arrow {
  background: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: rgb(66, 53, 107);
}

.indicator-dots {
  display: none;
}
@media screen and (max-width: 768px) {
  .indicator-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}

.indicator-dots .dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.indicator-dots .dot.active {
  background-color: rgb(66, 53, 107);
}

.indicator-dots .dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.content-filters {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .content-filters {
    gap: 15px;
  }
}

.content-filter {
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 24px;
  padding: 4px 32px;
  cursor: pointer;
}
.content-filter span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  .content-filter span {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .content-filter {
    display: none;
  }
  .content-filter:first-of-type, .content-filter:nth-of-type(2), .content-filter:nth-of-type(3) {
    display: flex;
    padding: 0;
    flex: 0 1 calc(33.333% - 15px);
  }
}

.filter-active {
  background: rgba(255, 255, 255, 0.4);
}

.filter-inactive {
  background: rgba(255, 255, 255, 0.2);
}

.content-cards,
.content-filters,
.content-mini-titles {
  padding-top: 100px;
}

.content-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
@media screen and (max-width: 1122px) {
  .content-cards {
    gap: 16px;
  }
}
@media screen and (max-width: 768px) {
  .content-cards {
    gap: 15px;
  }
}
@media screen and (max-width: 578px) {
  .content-cards {
    gap: 0;
    flex-direction: column;
  }
}

.content-card {
  flex: 0 1 calc(25% - 24px);
  border-radius: 16px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
.content-card:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1122px) {
  .content-card {
    flex: 0 1 calc(33.3333% - 16px);
  }
}
@media screen and (max-width: 858px) {
  .content-card {
    flex: 0 1 calc(50% - 16px);
  }
}
@media screen and (max-width: 768px) {
  .content-card {
    flex: 0 1 calc(50% - 15px);
  }
}
@media screen and (max-width: 578px) {
  .content-card {
    flex: none;
    width: 100%;
  }
  .content-card:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.Vector {
  transition: all 0.3s ease;
}

.content-cards .content-card {
  display: none;
}

.content-card.active {
  display: block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content-card-image {
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 425px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.content-card-content {
  padding: 16px 24px;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.content-card-title,
.content-card-text {
  margin-bottom: 16px;
}

.content-card-title {
  font-weight: 700;
  font-size: 20px;
}

.content-card-date {
  color: rgba(21, 35, 71, 0.5);
}

.content-card-play-button {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  cursor: pointer;
}

.content-card:hover .content-card-play-button {
  display: block;
}

.content-card-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  display: flex;
  gap: 72px;
  top: 10px;
  bottom: 10px;
  left: 166px;
  right: 166px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  border-radius: 32px;
  padding: 72px;
  color: #152347;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}
@media screen and (max-width: 1444px) {
  .content-card-overlay {
    padding: 60px 30px;
    gap: 30px;
    left: 83px;
    right: 83px;
  }
}
@media screen and (max-width: 1248px) {
  .content-card-overlay {
    padding: 30px;
    gap: 20px;
  }
}
@media screen and (max-width: 1132px) {
  .content-card-overlay {
    width: 90%;
    left: 5%;
    right: 5%;
    border-radius: 0;
    top: 0%;
    bottom: 0%;
    padding: 20px;
  }
}
@media screen and (max-width: 866px) {
  .content-card-overlay {
    width: 100%;
    left: 0%;
    right: 0%;
  }
}
@media screen and (max-width: 768px) {
  .content-card-overlay {
    width: 100%;
    gap: 0;
    flex-direction: column;
  }
}

.content-card-overlay-content {
  width: auto;
  overflow: hidden;
}
@media screen and (max-width: 1444px) {
  .content-card-overlay-content {
    width: auto;
  }
}

.scroll-buttons {
  position: absolute;
  right: 20px;
  top: 10px;
  display: flex;
  gap: 10px;
}

.scroll-buttons button {
  background: #42356b;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#closeOverlay {
  font-weight: bold;
}

.scroll-buttons button:hover {
  background: #6a4fb2;
}

.content-card-overlay-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #42356b;
  width: 100%;
}

.content-card-overlay-text,
.content-card-overlay-title {
  margin-bottom: 16px;
  width: 100%;
}

.content-card-overlay-comments {
  margin-top: 32px;
  width: 100%;
}

.comment,
.comment-2 {
  margin-bottom: 24px;
  padding: 24px 32px;
  border: 2px solid rgba(21, 35, 71, 0.5019607843);
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
}

.the-comment {
  font-size: 16px;
  line-height: 24px;
  color: #152347;
  width: auto;
}

.comment-experience {
  margin-bottom: 24px;
}
.comment-experience p {
  color: rgba(21, 35, 71, 0.5);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 4px;
}

.comment-profile {
  display: flex;
  align-items: center;
}
.comment-profile p,
.comment-profile span {
  height: 24px;
}
.comment-profile p {
  margin-left: 24px;
  font-weight: 500;
}
.comment-profile span {
  margin-left: auto;
  color: rgba(21, 35, 71, 0.5);
}

.content-card-video-2 {
  display: none;
  width: 100%;
  position: relative;
  margin-top: 16px;
}
.content-card-video-2 video {
  left: 50%;
  height: 719px;
  width: 407px;
}
@media screen and (max-width: 768px) {
  .content-card-video-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content-card-overlay-video-container {
  position: relative;
  width: auto;
  height: auto;
}
.content-card-overlay-video-container video {
  padding-top: 2rem;
  height: 100%;
  width: 418px;
  align-self: center;
}
@media screen and (max-width: 940px) {
  .content-card-overlay-video-container video {
    padding-top: 0;
  }
}
@media screen and (max-width: 1444px) {
  .content-card-overlay-video-container {
    width: auto;
    height: auto;
  }
  .content-card-overlay-video-container video {
    width: 407px;
  }
}
@media screen and (max-width: 1026px) {
  .content-card-overlay-video-container video {
    width: 357px;
  }
}
@media screen and (max-width: 768px) {
  .content-card-overlay-video-container {
    display: none;
  }
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#shareComment {
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(21, 35, 71);
}

#discussionBoardPage .discussion-board-page {
  padding-bottom: 0;
}
@media screen and (max-width: 1260px) {
  #discussionBoardPage .discussion-board-page {
    padding: 0 40px 0 40px;
  }
}
@media screen and (max-width: 1140px) {
  #discussionBoardPage .discussion-board-page {
    padding: 0 20px 0 20px;
  }
}

#discussionBoardPage .discussion-title {
  padding-bottom: 100px;
}
@media screen and (max-width: 1080px) {
  #discussionBoardPage .discussion-title {
    padding: 0 0 100px 0;
    padding-top: 200px;
    margin: 0 auto;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  #discussionBoardPage .discussion-title {
    padding-top: 75px;
  }
}
@media screen and (max-width: 768px) {
  #discussionBoardPage .discussion-title {
    padding-bottom: 75px;
  }
}

.discussion-board {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
@media screen and (max-width: 1012px) {
  .discussion-board {
    flex-direction: column;
  }
}

.discussion-board-column-1,
.discussion-board-column-2,
.discussion-board-column-3 {
  width: 33.3333333333%;
}
@media screen and (max-width: 1012px) {
  .discussion-board-column-1,
  .discussion-board-column-2,
  .discussion-board-column-3 {
    width: 100%;
  }
}

.discussion-board-column-2,
.discussion-board-column-3 {
  margin-left: 32px;
}
@media screen and (max-width: 1260px) {
  .discussion-board-column-2,
  .discussion-board-column-3 {
    margin-left: 16px;
  }
}
@media screen and (max-width: 1012px) {
  .discussion-board-column-2,
  .discussion-board-column-3 {
    margin-left: 0;
  }
}

.discussion-experience,
.discussion-self-experience {
  margin-bottom: 24px;
  padding: 24px 32px;
  color: rgb(21, 35, 71);
  border-radius: 16px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
}
@media screen and (max-width: 1360px) {
  .discussion-experience,
  .discussion-self-experience {
    padding: 20px;
  }
}
@media screen and (max-width: 1260px) {
  .discussion-experience,
  .discussion-self-experience {
    margin-bottom: 16px;
  }
}

.discussion-self-experience {
  height: 149px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.4);
}

.discussion-self-share-experience {
  margin-bottom: 24px;
  cursor: pointer;
  width: 100%;
}
.discussion-self-share-experience p {
  color: rgba(21, 35, 71, 0.5);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  width: 243px;
  height: 35px;
  margin-bottom: 4px;
}
@media screen and (max-width: 1012px) {
  .discussion-self-share-experience p {
    padding-bottom: 38px;
    border-bottom: 1.8px solid rgb(21, 35, 71);
    width: 100%;
  }
}
@media screen and (max-width: 1012px) {
  .discussion-self-share-experience img {
    display: none;
  }
}

.discussion-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.discussion-profile p,
.discussion-profile span {
  height: 24px;
}
.discussion-profile p {
  text-wrap: nowrap;
  margin-right: auto;
  margin-left: 24px;
  font-weight: 500;
}
@media screen and (max-width: 1260px) {
  .discussion-profile p {
    margin-left: 16px;
  }
}
.discussion-profile span {
  text-wrap: nowrap;
  justify-self: end;
  color: rgba(21, 35, 71, 0.5);
}

.discussion-img {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(21, 35, 71);
  border-radius: 50%;
  overflow: hidden;
}
.discussion-img img {
  opacity: 70%;
}

.discussion-blue {
  background: rgba(75, 124, 243, 0.4);
}

.discussion-purple {
  background: rgba(143, 57, 236, 0.4);
}
.discussion-purple:nth-child(even) {
  background: rgba(118, 79, 240, 0.4);
}

.discussion-green {
  background: rgba(131, 234, 177, 0.4);
}

.discussion-light-purple {
  background: rgba(118, 79, 240, 0.4);
}

.discussion-text,
.discussion-experience .discussion-profile,
.discussion-share-experience {
  padding-bottom: 24px;
}

.discussion-share-experience {
  color: rgba(21, 35, 71, 0.5);
}
@media screen and (max-width: 1012px) {
  .discussion-share-experience {
    width: 100%;
  }
}
@media screen and (max-width: 1012px) {
  .discussion-share-experience p {
    border-bottom: 1.8px solid rgb(21, 35, 71);
    padding-bottom: 2px;
  }
}
@media screen and (max-width: 1012px) {
  .discussion-share-experience img {
    display: none;
  }
}

.discussion-interactions {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1012px) {
  .discussion-interactions {
    width: 100%;
    justify-content: space-between;
  }
}

.discussion-comments,
.discussion-reactions {
  margin-left: 32px;
}
@media screen and (max-width: 1260px) {
  .discussion-comments,
  .discussion-reactions {
    margin-left: 16px;
  }
}
@media screen and (max-width: 1012px) {
  .discussion-comments,
  .discussion-reactions {
    margin-left: 0;
  }
}

.discussion-board-and-see-more {
  position: relative;
}

.discussion-see-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-49.5%);
  width: 200%;
  color: rgb(255, 255, 255);
  height: 500px;
  background: linear-gradient(180deg, rgba(193, 205, 220, 0) 0%, #c1cddc 100%);
  box-shadow: 0px 4px 16px 0px rgba(66, 53, 107, 0.1);
  font-size: 24px;
  font-weight: 600;
  box-shadow: 0px 4px 8px 0px rgba(66, 53, 107, 0.1);
}

.plus {
  font-size: 30px;
}

.bottom-blur {
  position: absolute;
  top: 90%;
  left: 49.99%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 20%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 2;
}
@media screen and (max-width: 1012px) {
  .bottom-blur {
    top: 96.5%;
    height: 7.5%;
  }
}
@media screen and (max-width: 768px) {
  .bottom-blur {
    top: 96%;
    height: 8%;
  }
}
@media screen and (max-width: 425px) {
  .bottom-blur {
    top: 95.5%;
    height: 9%;
  }
}

.plus-and-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  cursor: pointer;
}

.discussion-text-area {
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 8px 12px;
  color: rgb(21, 35, 71);
  margin-top: 32px;
}

.discussion-share-button {
  background: transparent;
  color: rgb(21, 35, 71);
  width: 100%;
  text-align: center;
  padding: 0;
  margin-top: 24px;
  border: 1px solid rgb(21, 35, 71);
  border-radius: 4px;
}
.discussion-share-button:hover {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.color-select {
  margin-top: 24px;
  width: 100%;
  border: 1px solid rgb(21, 35, 71);
  border-radius: 4px;
  background: transparent;
  text-align: center;
  color: rgb(21, 35, 71);
  padding: 3px 0;
}

.contact-page {
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.contact-title {
  padding: 100px 0;
}
@media screen and (max-width: 1080px) {
  .contact-title {
    padding: 0;
    margin: 150px 0 50px 0;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .contact-title {
    margin: 0;
  }
}

.contact-mini-title {
  padding: 50px 0;
  color: rgb(66, 53, 107);
  line-height: 64px;
  font-size: 32px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .contact-mini-title {
    text-align: center;
  }
}

.contact-link {
  margin-bottom: 50px;
  border: 2px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 16px;
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  padding: 32px 48px;
}
@media screen and (max-width: 1080px) {
  .contact-link {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .contact-link {
    margin: 0 20px 50px 20px;
    padding: 16px 24px;
    text-align: center;
  }
}
.contact-link button {
  margin-left: 200px;
  padding: 8px 56px;
  background: rgb(153, 70, 243);
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  border: 2px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 29.17%);
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
}
.contact-link button:hover {
  background: rgb(118, 79, 240);
}
@media screen and (max-width: 1080px) {
  .contact-link button {
    margin: 32px 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  .contact-link button {
    margin: 16px 0 0 0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.contact-content {
  line-height: 24px;
}
.contact-content h3 {
  font-weight: 600;
  font-size: 24px;
  color: rgb(118, 79, 240);
  margin-bottom: 32px;
}
@media screen and (max-width: 1080px) {
  .contact-content h3 {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .contact-content h3 {
    margin-bottom: 16px;
    font-size: 18px;
  }
}
.contact-content p {
  font-weight: 400;
  font-size: 16px;
  color: rgb(21, 35, 71);
}

.profile-page {
  animation-timing-function: ease-out;
  animation-duration: 500ms;
  color: rgb(255, 255, 255);
}

.profile-title {
  padding: 100px 0;
}
@media screen and (max-width: 1080px) {
  .profile-title {
    text-align: center;
  }
  .profile-title h1 {
    padding-top: 150px;
  }
}
@media screen and (max-width: 768px) {
  .profile-title h1 {
    padding-top: 0;
  }
}
@media screen and (max-width: 425px) {
  .profile-title {
    padding-top: 0;
    padding-bottom: 50px;
  }
}

.profile-person {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1080px) {
  .profile-person {
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .profile-person {
    margin: 0 20px;
  }
}

.profile-image {
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  overflow: hidden;
  width: 356px;
  height: 360px;
  border-radius: 40px;
  background: url("../images/Discussion board page/person 1.png");
  background-position: 40% 0%;
}
@media screen and (max-width: 1080px) {
  .profile-image {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 425px) {
  .profile-image {
    margin-bottom: 50px;
  }
}

.profile-info-container {
  display: flex;
}
@media screen and (max-width: 1480px) {
  .profile-info-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 1080px) {
  .profile-info-container {
    width: 100%;
  }
}

.profile-info-1,
.profile-info-2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.profile-info-1 label,
.profile-info-2 label {
  height: 24px;
  width: 295px;
}
.profile-info-1 label:not(:first-of-type),
.profile-info-2 label:not(:first-of-type) {
  margin-top: 8px;
}

.profile-info-2 {
  margin-left: 32px;
}
@media screen and (max-width: 1480px) {
  .profile-info-2 {
    margin-left: 0;
  }
}

.profile-info-input-container {
  width: 486px;
  margin-top: 8px;
  position: relative;
  height: 56px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  font-weight: 500;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1800px) {
  .profile-info-input-container {
    width: 380px;
  }
}
@media screen and (max-width: 1480px) {
  .profile-info-input-container {
    width: 486px;
  }
}
@media screen and (max-width: 1080px) {
  .profile-info-input-container {
    margin-bottom: 32px;
    width: 0;
    width: 100%;
  }
}
.profile-info-input-container:hover {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  cursor: pointer;
}
.profile-info-input-container:hover .change-profile-info {
  display: block;
}
.profile-info-input-container input {
  background: transparent;
  padding-left: 16px;
}
.profile-info-input-container button {
  display: none;
  background: rgb(153, 70, 243);
  border-radius: 8px;
  border: 2px solid rgb(203, 120, 255);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  padding: 0px 28px;
  font-size: 20px;
}
@media screen and (max-width: 1800px) {
  .profile-info-input-container button {
    padding: 0 14px;
  }
}
@media screen and (max-width: 1480px) {
  .profile-info-input-container button {
    padding: 0 28px;
  }
}
@media screen and (max-width: 425px) {
  .profile-info-input-container button {
    padding: 0;
    width: 100%;
    font-size: 18px;
  }
}

@media screen and (max-width: 1080px) {
  .gender-input {
    margin-bottom: 0;
  }
}

.profile-info-input-container.editing {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(165, 88, 248);
  border-radius: 8px;
  color: rgb(21, 35, 71);
}

.profile-info-input-container .confirm-edit,
.profile-info-input-container .cancel-edit {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  transform: translate(-50%);
  font-size: 24px;
  font-weight: bold;
}
.profile-info-input-container .confirm-edit:hover,
.profile-info-input-container .cancel-edit:hover {
  background: none;
  cursor: pointer;
}

.profile-info-input-container .confirm-edit {
  left: 90%;
  color: rgb(131, 234, 177);
}

.profile-info-input-container .cancel-edit {
  left: 95%;
  color: rgb(165, 88, 248);
}

.profile-track-progress {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 32px;
  padding: 100px 0;
}
.profile-track-progress p {
  font-weight: 700;
}
@media screen and (max-width: 1080px) {
  .profile-track-progress p {
    font-size: 38px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 745px) {
  .profile-track-progress p {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .profile-track-progress p {
    font-size: 26px;
  }
}
.profile-track-progress span {
  font-weight: 500;
}
@media screen and (max-width: 1080px) {
  .profile-track-progress span {
    font-size: 30px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 745px) {
  .profile-track-progress span {
    font-size: 24px;
  }
}
@media screen and (max-width: 425px) {
  .profile-track-progress span {
    font-size: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .profile-track-progress {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .profile-track-progress {
    margin: 0 20px;
  }
}
@media screen and (max-width: 425px) {
  .profile-track-progress {
    padding: 50px 0;
  }
}

.profile-progress-bar {
  height: 8px;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 69.79%);
  border-radius: 4px;
  background: linear-gradient(0deg, rgba(218, 218, 218, 0.5), rgba(218, 218, 218, 0.5)), linear-gradient(180deg, rgba(75, 124, 243, 0.2) 0%, rgba(131, 234, 177, 0.2) 100%);
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .profile-progress-bar {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 425px) {
  .profile-progress-bar {
    margin-bottom: 50px;
  }
}

.progress-bar-green {
  width: 568px;
  background: rgb(131, 234, 177);
  height: 8px;
  border: 3px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 40.94%);
  border-radius: 4px;
  box-shadow: 0px 2px 16px 0px rgba(131, 234, 177, 0.8);
}
@media screen and (max-width: 1080px) {
  .progress-bar-green {
    width: 20%;
  }
}

.profile-progress-badges {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  .profile-progress-badges {
    gap: 16px;
    padding: 0 20px;
  }
}

.profile-badge {
  display: none;
  box-shadow: 0px 3px 12px 0px rgba(66, 53, 107, 0.3);
  width: 220.3px;
  height: 184px;
  border-radius: 16px;
  border: 2px solid;
  border-image-source: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 66.04%), linear-gradient(360deg, rgba(66, 53, 107, 0.3) 4.53%, rgba(66, 53, 107, 0) 12.5%);
  box-shadow: 0px 16px 16px 0px rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.36) 69.79%);
  position: relative;
}
@media screen and (max-width: 768px) {
  .profile-badge {
    width: 190px;
    height: 162px;
  }
}
@media screen and (max-width: 435px) {
  .profile-badge {
    width: 182px;
    height: 154px;
  }
}
.profile-badge img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .profile-badge img {
    top: 38%;
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 435px) {
  .profile-badge img {
    width: 52px;
    height: 52px;
  }
}
.profile-badge p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .profile-badge p {
    top: 76%;
    text-wrap: nowrap;
    line-height: 20px;
  }
}

.profile-badge-1 {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a,
button,
ul li {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
}

.title-design {
  padding-top: 200px;
}
@media screen and (max-width: 1080px) {
  .title-design {
    padding-top: 65px;
  }
}
.title-design h1 {
  font-weight: 900;
  font-size: 80px;
  line-height: 88px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 4px rgba(118, 79, 240, 0.5);
  border-image-source: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 56.25%);
}
@media screen and (max-width: 986px) {
  .title-design h1 {
    font-weight: 900;
    font-size: 68px;
    text-align: center;
    letter-spacing: -0.75%;
  }
}
@media screen and (max-width: 866px) {
  .title-design h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .title-design h1 {
    font-size: 68px;
    line-height: 72px;
  }
}
@media screen and (max-width: 680px) {
  .title-design h1 {
    font-size: 58px;
    line-height: 65px;
  }
}
@media screen and (max-width: 580px) {
  .title-design h1 {
    font-size: 48px;
    line-height: 55px;
  }
}
@media screen and (max-width: 480px) {
  .title-design h1 {
    font-size: 42px;
    line-height: 49px;
  }
}
@media screen and (max-width: 425px) {
  .title-design h1 {
    line-height: 47px;
    font-size: 40px;
  }
}

button {
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  width: 100%;
  display: none;
  background: linear-gradient(180deg, rgba(131, 234, 177, 0.7) 0%, rgba(75, 124, 243, 0.7) 100%), linear-gradient(0deg, #dadada, #dadada);
}

.page-margin-x {
  padding: 0 200px;
  padding-bottom: 150px;
}
@media screen and (max-width: 1694px) {
  .page-margin-x {
    padding: 0 140px;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 1420px) {
  .page-margin-x {
    padding: 0 110px;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 1320px) {
  .page-margin-x {
    padding: 0 100px;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 1180px) {
  .page-margin-x {
    padding: 0 80px;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 768px) {
  .page-margin-x {
    padding: 0;
    width: 100%;
    padding-bottom: 65px;
  }
}

.visible {
  display: block;
}/*# sourceMappingURL=main.css.map */